<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista: Tipo de Balada</title>
<link rel="stylesheet" type="text/css"
	href="/materialize-v1.0.0/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>


<body>

	
	<header th:replace="fragments/padrao :: cabecalho"></header>

<div class="container">
	<form action="/buscarPorTudo">
		<p>
			<strong>Busca por:</strong>
		</p>
		<input type="search" name="opcao" placeholder="Digite uma palavra" />

		<p>
			<strong>Filtra por:</strong>
		</p>
		<select name="select" required>
			<option name="selecionar" selected disabled>Selecione...</option>
			<option value="nome">Nome</option>
			<option value="descricao">Descrição</option>
			<option value="cep">Cep</option>
			<option value="formadePagamento">Forma de Pagamento</option>
			<option value="site">Site</option>
			<option value="telefone">Telefone</option>
		</select>
			


		<button class="btn waves-effect waves-light" type="submit" >
			Buscar <i class="material-icons right">send</i>
		</button>
	</form>


	<table>
		<thead>
			<tr>

				<th>Id:</th>
				<th>Nome:</th>
				<th>Descrição:</th>
				<th>Cep:</th>
				<th>Atrações:</th>
				<th>Forma de Pagamento:</th>
				<th>Horário:</th>
				<th>Site:</th>
				<th>Telefone:</th>
				<th>OpenBar:</th>
				<th>Camarote:</th>
				<th>Acessibilidade:</th>
				<th>Estacionamento:</th>
				<th>Área de Fumante:</th>
				<th>Tipo Balada:</th>
				<th>Alterar</th>
				<th>Excluir</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="b:${balada}">
				<td th:text="${b.id}" />
				<td th:text="${b.nome}" />
				<td th:text="${b.tipo.id}" />
				<td th:text="${b.descricao}" />
				<td th:text="${b.cep}" />
				<td th:text="${b.atracoes}" />
				<td th:text="${b.formadePagamento}" />
				<td th:text="${b.horario}" />
				<td th:text="${b.site}" />
				<td th:text="${b.telefone}" />
				<td th:text="${b.openbar}" />
				<td th:text="${b.camarote}" />
				<td th:text="${b.acessibilidade}" />
				<td th:text="${b.estacionamento}" />
				<td th:text="${b.areadeFumante}" />
				<td><a th:href="@{/alterarBalada(id=${b.id})}">Alterar</a></td>
				<td><a
					th:attr="onclick=|return confirm('Deseja excluir o Id: ${b.id}')|"
					th:href="@{/excluirBalada(id=${b.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>

	<ul class="pagination">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual -1 : '#'}"><i
				class="material-icons">chevron_left</i></a></li>

		<li th:class="${pagAtual == p ? 'active pink' : 'waves-effect'}"
			th:each="p:${numPaginas}"><a th:href="${p}"><span
				th:text="${p}"></span></a></li>


		<li th:class="${pagAtual == totalPages ? 'disabled' : 'waves-effect'}"
			class=waves-effect><a
			th:href="${pagAtual < totalPages ? pagAtual +1 : '#'}"><i
				class="material-icons">chevron_right</i></a></li>

	</ul>
	
	</div>

	<footer th:replace="fragments/padrao :: rodape"></footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/materialize-v1.0.0/materialize/js/materialize.min.js"></script>
	<script>
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	
</body>
</html>	